click==8.3.1
colorama==0.4.6
iniconfig==2.3.0
joblib==1.5.2
nltk==3.9.2
numpy==2.3.5
packaging==25.0
pluggy==1.6.0
Pygments==2.19.2
pytest==9.0.1
regex==2025.11.3
tqdm==4.67.1
decorator==5.2.1
executing==2.2.1
iniconfig==2.3.0
ipykernel==7.1.0
ipython==9.7.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
joblib==1.5.2


